Main_Windo.spec
Main_Window.spec
.vscode/SQL Commands
__pycache__/Funciones_Buscar.cpython-38.pyc
__pycache__/Main_Window.cpython-38.pyc
__pycache__/Ui_BusquedaV1.cpython-38.pyc
__pycache__/Ui_Menu_principal.cpython-38.pyc
__pycache__/Ui_untitled.cpython-38.pyc
__pycache__/Ui_ventana_busqueda.cpython-38.pyc
build/Main_Window/Analysis-00.toc
build/Main_Window/base_library.zip
build/Main_Window/COLLECT-00.toc
build/Main_Window/EXE-00.toc
build/Main_Window/Main_Window.exe
build/Main_Window/Main_Window.exe.manifest
build/Main_Window/Main_Window.pkg
build/Main_Window/PKG-00.toc
build/Main_Window/PYZ-00.pyz
build/Main_Window/PYZ-00.toc
build/Main_Window/Tree-00.toc
build/Main_Window/Tree-01.toc
build/Main_Window/Tree-02.toc
build/Main_Window/warn-Main_Window.txt
build/Main_Window/xref-Main_Window.html
